body {
    font-family: Arial, sans-serif;
    margin: 0;
}

#bg {
    background-color: #014638;
}

#logo {
    width: 300px;
    height: 250px;
    margin-top: -90px;
    margin-left: -100px;
    margin-bottom: -85px
}

#nav-item a {
    color: white;
}

#nav-item a.active {
    color: #D6C553;
}

#bg1 {
    background-image: url('../img/gambar3.jpg');
}

#m1 {
    margin-top: -40px;
}
#copyright{
    margin-left: -200px;
}
